<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MACOS:Customers</title>
  	<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet" rel="stylesheet">
	<link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" rel="stylesheet">

</head>

<body>

	<!-- Background Image-->
	<div class="bg">
		<h1> Mock Amazon Customer Ordering System </h1>
		<h2> Customers </h2>
		<div class="container">
			<div class="row">
				<!--Nav Buttons-->
				<div class="btnMain">
					<form>
						<table>
							<tr>
								<td><button class="btn btn-default pack" type="submit" formaction="/customerdetails">Customer Details</button></td>
								<td><button class="btn btn-default pack" type="submit" formaction="/">Main Menu</button></td>
							</tr>
						</table>

					</form>
				</div>

			</div>
		</div>
	</div>

</body>

</html>
