<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<title>MACOS:Mock Amazon Customer Ordering System</title>
  	<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">

</head>

<body>

<!-- Background Image-->
<div class="bg">
	<h1> Mock Amazon Customer Ordering System </h1>
	<h2> Customer Details </h2>
	<div class="container">
		<div class="row">

			<div class="cleftpane col-sm-6 col-md-6 col-lg-6">
				<table>
					<tr>
						<td><label for="customerID">Customer ID: </label></td>
						<td><input type="text" name="customerID" value=""></td>
					</tr>
					<tr>
							<td><label for="customerFname">Customer First Name: </label></td>
							<td><input type="text" name="customerFname" value=""></td>
					</tr>
					<tr>
						<td><label for="customerLname">Customer Last Name: </label></td>
						<td><input type="text" name="customerLname" value=""></td>
					</tr>
					<tr>
						<td><label for="cSex">Sex: </label></td>
						<td><input type="text" name="cSex" value=""></td>
					</tr>
					<tr>
						<td><label for="cBOD">Birth Date: </label></td>
						<td><input type="text" name="cBOD" value=""> </td>
					</tr>
					<tr>
						<td><label for="zipCode">Zip Code: </label></td>
						<td><input type="text" name="zipCode" value=""></td>
					</tr>
					<tr>
						<td><label for="cCity">City: </label></td>
						<td><input type="text" name="cCity" value=""></td>
					</tr>
					<tr>
						<td><label for="cState">State: </label></td>
						<td><input type="text" name="cState" value=""></td>
					</tr>
				</table>
      		</div>

			<div class="custrightpane col-sm-6 col-md-6 col-lg-6">
				<table>
					<tr>
						<td><label for="cStreetNum">Street Number: </label></td>
						<td><input type="text" name="cStreetNum" value=""></td>
					</tr>
					<tr>
							<td><label for="cStreetName">Street Name: </label></td>
							<td><input type="text" name="cStreetName" value=""></td>
					</tr>
					<tr>
							<td><label for="cStreetType">Street Type: </label></td>
							<td><input type="text" name="cStreetType" value=""></td>
					</tr>
					<tr>
							<td><label for="cDegree">Degree: </label></td>
							<td><input type="text" name="cDegree" value=""></td>
					</tr>
					<tr>
							<td><label for="cIncomeFrom">Income From: </label></td>
							<td><input type="text" name="cIncomeFrom" value=""></td>
					</tr>
					<tr>
						<td><label for="cIncomeTo">Income To: </label></td>
						<td><input type="text" name="cIncomeTo" value=""></td>
					</tr>
					<tr>
							<td><label for="cMaritalStatus">Marital Status: </label></td>
							<td><input type="text" name="cMaritalStatus" value=""></td>
					</tr>
					<tr>
							<td><label for="cCrCard">Credit Card: </label></td>
							<td><input type="text" name="cCrCard" value=""></td>
					</tr>
				</table>
      		</div>

			<div class="custbtn col-sm-12 col-md-12 col-lg-12">
				<form>

					<table>
						<tr>
							<td><button class="btn btn-default nav" type="submit" formaction="">Previous</button></td>
							<td><button class="btn btn-default nav" type="submit" formaction="">Next</button></td>

							<td><button class="btn btn-default nav" type="submit" formaction="">Find</button></td>
							<td><button class="btn btn-default nav" type="submit" formaction="">Print</button></td>
							<td><button class="btn btn-default nav" type="submit" formaction="/customers">Close</button></td>
						</tr>
					</table>

				</form>

			</div>
		</div>
	</div>
</div>

</body>

</html>
